*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
.wrapper{
	margin: 0 auto;
	width: 1020px;
}
#nav .wrapper{
	height: 120px;
}
#logo{
	margin-top: 30px;
	width: 189px;
	height: 47px;
	background: url(../img/网页首页.jpg);
	float: left;
}